.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: linear-gradient(
    120deg,
    rgb(41, 211, 208),
    rgba(240, 166, 202, 1)
  );
}

.dash-container-wrapper {
  justify-content: space-between;
  //   background: linear-gradient(
  //     120deg,
  //     rgb(41, 211, 208),
  //     rgba(240, 166, 202, 1)
  //   );
  overflow: hidden;
}

.dash-container {
  display: flex;
  height: 800px;
  margin-top: 15em;
  margin-left: 2em;
  margin-right: 2em;
}
